<extend name="./Public/layout.html"/>

<block name="content">
    <div class="col-md-12">
        <h3 class="entry "><strong>邀请统计</strong></h3>

        <div class="article_manage">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active article"><a href="#">邀请列表</a></li>
                <li role="presentation" class="article"><a href="#">邀请排行</a></li>
            </ul>
        </div>
        <div class="article_box">
            <div class="article_list">
                <div class="article_edit">
                    <button type="button" class="btn btn-info">搜索</button>
                </div>
                <div class="list">
                    <table class="table table-bordered nav_set">
                        <thead>
                        <tr>
                            <th class="line_l">邀请ID</th>
                            <th class="line_l">被邀请人</th>
                            <th class="line_l">邀请人</th>
                            <th class="line_l">是否审核</th>
                            <th class="line_l">是否激活</th>
                            <th class="line_l">是否初始化</th>
                            <th class="line_l">注册时间</th>
                            <th class="line_l">被邀请人email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="line_l">77</td>
                            <td class="line_l">pic2.jpg</td>
                            <td class="line_l">93.9 KB</td>
                            <td class="line_l">管理员</td>
                            <td class="line_l">2015-01-30 15:19:13</td>
                            <td class="line_l">网站</td>
                            <td class="line_l">网站</td>
                            <td class="line_l">422714992@qq.com</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="article_list add_nav">
                <div class="article_edit">
                    <button type="button" class="btn btn-info">搜索</button>
                </div>
                <div class="list">
                    <table class="table table-bordered nav_set">
                        <thead>
                        <tr>
                            <th class="line_l">名次</th>
                            <th class="line_l">邀请人</th>
                            <th class="line_l">邀请数量</th>
                            <th class="line_l">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="line_l">7700</td>
                            <td class="line_l">pic2.jpg</td>
                            <td class="line_l">93.9 KB</td>
                            <td class="line_l">
                                <a href=""><span class="glyphicon glyphicon-remove-sign" ></span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</block>