<extend name="./Public/layout.html"/>

<block name="content">
    <div class="col-md-12">
        <h3 class="entry "><strong>标签管理</strong></h3>
        <div class="article_box">
            <div class="article_list">
                <div class="article_edit">
                    <button type="button" class="btn btn-info">搜索</button>
                </div>
                <div class="list">
                    <table class="table table-bordered nav_set">
                        <thead>
                        <tr>
                            <th class="line_l">标签ID</th>
                            <th class="line_l">标签类型</th>
                            <th class="line_l">举报人用户名</th>
                            <th class="line_l">标签名</th>
                            <th class="line_l">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="line_l">77</td>
                            <td class="line_l">pic2.jpg</td>
                            <td class="line_l">93.9 KB</td>
                            <td class="line_l">管理员</td>
                            <td class="line_l">
                                <a href=""><span class="glyphicon glyphicon-remove-sign" ></span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</block>