<extend name="./Public/layout.html"/>

<block name="content">
    <div class="col-md-12">
        <h3 class="entry "><strong>举报管理</strong></h3>

        <div class="article_manage">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active article"><a href="#">等待操作</a></li>
                <li role="presentation" class="article"><a href="#">回收站</a></li>
            </ul>
        </div>
        <div class="article_box">
            <div class="article_list">
                <div class="article_edit">
                    <button type="button" class="btn btn-info">搜索举报</button>
                    <button type="button" class="btn btn-info">撤销举报</button>
                    <button type="button" class="btn btn-info">删除内容</button>
                </div>
                <div class="list">
                    <table class="table table-bordered nav_set">
                        <thead>
                        <tr>
                            <th class="line_l">
                                <input type="checkbox"  onclick="admin.checkAll(this)" value="0">
                            </th>
                            <th class="line_l">ID</th>
                            <th class="line_l">举报人ID</th>
                            <th class="line_l">举报人用户名</th>
                            <th class="line_l">来自</th>
                            <th class="line_l">被举报信息</th>
                            <th class="line_l">举报理由</th>
                            <th class="line_l">举报时间</th>
                            <th class="line_l">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="line_l">
                                <input type="checkbox"  onclick="admin.checkAll(this)" value="0">
                            </td>
                            <td class="line_l">77</td>
                            <td class="line_l">pic2.jpg</td>
                            <td class="line_l">93.9 KB</td>
                            <td class="line_l">管理员</td>
                            <td class="line_l">2015-01-30 15:19:13</td>
                            <td class="line_l">网站</td>
                            <td class="line_l">网站</td>
                            <td class="line_l">
                                <a href=""><span class="glyphicon glyphicon-remove-sign" ></span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="article_list add_nav">
                <div class="article_edit">
                    <button type="button" class="btn btn-info">搜索举报</button>
                    <button type="button" class="btn btn-info">撤销举报</button>
                    <button type="button" class="btn btn-info">删除内容</button>
                </div>
                <div class="list">
                    <table class="table table-bordered nav_set">
                        <thead>
                        <tr>
                            <th class="line_l">
                                <input type="checkbox"  onclick="admin.checkAll(this)" value="0">
                            </th>
                            <th class="line_l">ID</th>
                            <th class="line_l">举报人ID</th>
                            <th class="line_l">举报人用户名</th>
                            <th class="line_l">来自</th>
                            <th class="line_l">被举报信息</th>
                            <th class="line_l">举报理由</th>
                            <th class="line_l">举报时间</th>
                            <th class="line_l">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="line_l">
                                <input type="checkbox"  onclick="admin.checkAll(this)" value="0">
                            </td>
                            <td class="line_l">7700</td>
                            <td class="line_l">pic2.jpg</td>
                            <td class="line_l">93.9 KB</td>
                            <td class="line_l">管理员</td>
                            <td class="line_l">2015-01-30 15:19:13</td>
                            <td class="line_l">网站</td>
                            <td class="line_l">网站</td>
                            <td class="line_l">
                                <a href=""><span class="glyphicon glyphicon-remove-sign" ></span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</block>