<extend name="./Public/layout.html"/>
<block name="content">
    <div class="col-md-12">
        <h3 class="entry "><strong>基本信息</strong></h3>
        <div>
            <h5 class="user_info"><strong>用户信息</strong></h5>

            <div class="index_box">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>总注册用户</th>
                        <th>总活跃用户</th>
                        <th>昨日最大在线量</th>
                        <th>当前在线用户数</th>
                        <th>一周最大在线用户数</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>100245</td>
                        <td>65545</td>
                        <td>10000</td>
                        <td>56544</td>
                        <td>654421</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <h5 class="user_info"><strong>访问信息</strong></h5>

            <div class="index_box">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>时间</th>
                        <th>浏览量</th>
                        <th>独立访客量</th>
                        <th>人均浏览次数</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>今日</td>
                        <td>65545</td>
                        <td>10000</td>
                        <td>56544</td>
                    </tr>
                    <tr>
                        <td>昨日</td>
                        <td>65545</td>
                        <td>10000</td>
                        <td>56544</td>
                    </tr>
                    <tr>
                        <td>一周平均</td>
                        <td>65545</td>
                        <td>10000</td>
                        <td>56544</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <h5 class="user_info"><strong>服务器信息</strong></h5>

            <div class="index_box server_info">
                <dl class="col-md-12">
                    <dt class="col-md-3"><strong>核心版本：</strong></dt>
                    <dd class="col-md-9">TS V3.1.28021</dd>
                </dl>
                <dl class="col-md-12">
                    <dt class="col-md-3"><strong>服务器系统及PHP版本：</strong></dt>
                    <dd class="col-md-9">WINNT / PHP v5.5.12</dd>
                </dl>
                <dl class="col-md-12">
                    <dt class="col-md-3"><strong>服务器软件：</strong></dt>
                    <dd class="col-md-9">Apache/2.4.9 (Win64) PHP/5.5.12</dd>
                </dl>
                <dl class="col-md-12">
                    <dt class="col-md-3"><strong>最大上传许可：</strong></dt>
                    <dd class="col-md-9">64M</dd>
                </dl>
                <dl class="col-md-12">
                    <dt class="col-md-3"><strong>MySQL版本：</strong></dt>
                    <dd class="col-md-9">5.6.17</dd>
                </dl>
                <dl class="col-md-12">
                    <dt class="col-md-3"><strong>数据库大小：</strong></dt>
                    <dd class="col-md-9">952.8 KB</dd>
                </dl>


            </div>
        </div>
        <div>
            <h5 class="user_info"><strong>开发团队</strong></h5>
            <div class="index_box server_info">
                <dl class="col-md-12 ">
                    <dt class="col-md-3"><strong>版权所有：</strong></dt>
                    <dd class="col-md-9"><a href="">XZP</a></dd>
                </dl>
            </div>
        </div>
    </div>
    </div>

</block>