<extend name="./Public/layout.html"/>
<block name="content">
    <div class="col-md-12">
        <h3 class="entry "><strong>附件配置</strong></h3>

        <div class="register_box system_box col-md-12">
            <dl class="col-md-12">
                <dt class="col-md-3"><strong>目录规则：</strong></dt>
                <dd class="col-md-3">
                    <input type="text" class="form-control" placeholder="" value="Y/md/H/">
                    <p>注：不建议修改</p>
                </dd>
            </dl>
            <dl class="col-md-12">
                <dt class="col-md-3"><strong>最大允许值：</strong></dt>
                <dd class="col-md-3">
                    <input type="text" class="form-control" placeholder="" value="15">
                    <p>单位：兆(M) 允许使用小数点。如：0.5或2等</p>
                </dd>
            </dl>
            <dl class="col-md-12">
                <dt class="col-md-3"><strong>扩展名限定：</strong></dt>
                <dd class="col-md-3">
                    <input type="text" class="form-control" placeholder="" value="15">
                    <p>按回车添加，多个输入后用英文逗号,分割</p>
                </dd>
            </dl>
        </div>
        <div class="system_bottom_btn">
            <button type="button" class="btn btn-primary col-md-offset-5">保存</button>
        </div>
    </div>

</block>