<extend name="./Public/layout.html"/>

<block name="content">
    <div class="col-md-12">
        <h3 class="entry "><strong>邀请设置</strong></h3>

        <div class="article_manage col-md-12">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active article"><a href="#">邀请配置</a></li>
                <li role="presentation" class="article"><a href="#">邮件邀请</a></li>
                <li role="presentation" class="article"><a href="#">链接邀请</a></li>
                <li role="presentation" class="article"><a href="#">已邀请用户列表</a></li>
            </ul>
        </div>
        <div class="article_box col-md-12">
            <div class="article_list col-md-12">
                <div class="list col-md-12 system_box" id="list">
                    <dl class="col-md-12 invate_configuration">
                        <dt class="col-md-3"><strong>邮件邀请码数量：</strong></dt>
                        <dd class="col-md-3">
                            <input type="text" class="form-control" placeholder="" value="3">
                        </dd>
                    </dl>
                    <dl class="col-md-12 invate_configuration">
                        <dt class="col-md-3"><strong>链接邀请码数量：</strong></dt>
                        <dd class="col-md-3">
                            <input type="text" class="form-control" placeholder="" value="3">
                        </dd>
                    </dl>
                </div>
                <div class="system_bottom_btn">
                    <button type="button" class="btn btn-primary col-md-offset-5">保存</button>
                </div>
            </div>

            <div class="article_list system_bottom_nav">
                <div class="list col-md-12" >
                    <h4><strong>输入邀请用户邮箱</strong></h4>
                    <input id="check_email" class="s-txt col-md-5" type="text" autocomplete="off">
                    <a href="javascript:;" onclick="doInviteEmail();" class="btn-green-big"> 发送邀请</a>
                </div>
            </div>
            <div class="article_list visit_nav">
                <div class="article_edit">
                    <button type="button" class="btn btn-info">添加</button>
                </div>
                <div class="list" >
                    <table class="table table-bordered nav_set">
                        <thead>
                        <tr>
                            <th class="line_l">导航ID</th>
                            <th class="line_l">导航名称</th>
                            <th class="line_l">英文名称</th>
                            <th class="line_l">链接地址</th>
                            <th class="line_l">打开方式</th>
                            <th class="line_l">状态</th>
                            <th class="line_l">导航位置</th>
                            <th class="line_l">应用排序</th>
                            <th class="line_l">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="line_l">123</td>
                            <td class="line_l">首页</td>
                            <td class="line_l">public</td>
                            <td class="line_l">http://localhost/thinksns/index.php?app=people&mod=Index&act=index</td>
                            <td class="line_l">当前窗口</td>
                            <td class="line_l">开启</td>
                            <td class="line_l">头部导航</td>
                            <td class="line_l">2</td>
                            <td class="line_l">
                                <a href=""><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                <a href=""><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                <a href=""><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="line_l">123</td>
                            <td class="line_l">首页</td>
                            <td class="line_l">public</td>
                            <td class="line_l">http://localhost/thinksns/index.php?app=people&mod=Index&act=index</td>
                            <td class="line_l">当前窗口</td>
                            <td class="line_l">开启</td>
                            <td class="line_l">头部导航</td>
                            <td class="line_l">2</td>
                            <td class="line_l">
                                <a href=""><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                <a href=""><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                <a href=""><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="line_l">123</td>
                            <td class="line_l">首页</td>
                            <td class="line_l">public</td>
                            <td class="line_l">http://localhost/thinksns/index.php?app=people&mod=Index&act=index</td>
                            <td class="line_l">当前窗口</td>
                            <td class="line_l">开启</td>
                            <td class="line_l">头部导航</td>
                            <td class="line_l">2</td>
                            <td class="line_l">
                                <a href=""><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                <a href=""><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                <a href=""><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="article_list add_nav">
                <div class="article_edit">
                    <button type="button" class="btn btn-info">筛选列表</button>
                </div>
                <div class="list" >
                    <table class="table table-bordered nav_set">
                        <thead>
                        <tr>
                            <th class="line_l">被邀请人头像</th>
                            <th class="line_l">被邀请人昵称</th>
                            <th class="line_l">被邀请人注册邮箱</th>
                            <th class="line_l">被邀请人注册时间</th>
                            <th class="line_l">邀请类型</th>
                            <th class="line_l">邀请码</th>
                            <th class="line_l">邀请人昵称</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="line_l">123</td>
                            <td class="line_l">首页</td>
                            <td class="line_l">public</td>
                            <td class="line_l">http://localhost/thinksns/index.php?app=people&mod=Index&act=index</td>
                            <td class="line_l">当前窗口</td>
                            <td class="line_l">开启</td>
                            <td class="line_l">头部导航</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</block>