<extend name="./Public/layout.html"/>
<block name="content">
    <div class="col-md-12">
        <h3 class="entry "><strong>游客配置</strong></h3>

        <div class="register_box system_box col-md-12">
            <dl class="col-md-12">
                <dt class="col-md-3"><strong>微吧首页：</strong></dt>
                <dd class="col-md-9">
                    <label><input type="radio" name="site_closed" value="1"
                                  onclick="admin.siteConfig(this.value)">是 </label>
                    <label><input type="radio" name="site_closed" value="0" checked="checked"
                                  onclick="admin.siteConfig(this.value)">否 </label>
                </dd>
            </dl>
            <dl class="col-md-12">
                <dt class="col-md-3"><strong>微吧详情：</strong></dt>
                <dd class="col-md-9">
                    <label><input type="radio" name="site_closed" value="1"
                                  onclick="admin.siteConfig(this.value)">是 </label>
                    <label><input type="radio" name="site_closed" value="0" checked="checked"
                                  onclick="admin.siteConfig(this.value)">否 </label>
                </dd>
            </dl>
            <dl class="col-md-12">
                <dt class="col-md-3"><strong>微吧帖子详情：</strong></dt>
                <dd class="col-md-9">
                    <label><input type="radio" name="site_closed" value="1"
                                  onclick="admin.siteConfig(this.value)">是 </label>
                    <label><input type="radio" name="site_closed" value="0" checked="checked"
                                  onclick="admin.siteConfig(this.value)">否 </label>
                </dd>
            </dl>
            <dl class="col-md-12">
                <dt class="col-md-3"><strong>微吧帖子列表：</strong></dt>
                <dd class="col-md-9">
                    <label><input type="radio" name="site_closed" value="1"
                                  onclick="admin.siteConfig(this.value)">是 </label>
                    <label><input type="radio" name="site_closed" value="0" checked="checked"
                                  onclick="admin.siteConfig(this.value)">否 </label>
                </dd>
            </dl>
            <dl class="col-md-12">
                <dt class="col-md-3"><strong>微吧列表：</strong></dt>
                <dd class="col-md-9">
                    <label><input type="radio" name="site_closed" value="1"
                                  onclick="admin.siteConfig(this.value)">是 </label>
                    <label><input type="radio" name="site_closed" value="0" checked="checked"
                                  onclick="admin.siteConfig(this.value)">否 </label>
                </dd>
            </dl>
            <dl class="col-md-12">
                <dt class="col-md-3"><strong>找人：</strong></dt>
                <dd class="col-md-9">
                    <label><input type="radio" name="site_closed" value="1"
                                  onclick="admin.siteConfig(this.value)">是 </label>
                    <label><input type="radio" name="site_closed" value="0" checked="checked"
                                  onclick="admin.siteConfig(this.value)">否 </label>
                </dd>
            </dl>
            <dl class="col-md-12">
                <dt class="col-md-3"><strong>频道：</strong></dt>
                <dd class="col-md-9">
                    <label><input type="radio" name="site_closed" value="1"
                                  onclick="admin.siteConfig(this.value)">是 </label>
                    <label><input type="radio" name="site_closed" value="0" checked="checked"
                                  onclick="admin.siteConfig(this.value)">否 </label>
                </dd>
            </dl>
        </div>
        <div class="system_bottom_btn">
            <button type="button" class="btn btn-primary col-md-offset-5">保存</button>
        </div>
    </div>

</block>