<extend name="./Public/index_layout.html"/>

<block name="content">
                <div class="content_left col-md-3">
                    <div class="content_left_top">
                        <div class="content_left_top_color"></div>
                        <div class="content_left_top_user">
                            <div class="content_user">
                                <div class="content_username"><a href="">{$user_info.username}</a></div>
                                <span><a href="">@s422714992</a></span>
                            </div>
                            <div class="user_info col-md-12">
                                <dl class="col-md-4">
                                    <dt><a href="">微文</a></dt>
                                    <dd><a href="">51</a></dd>
                                </dl>
                                <dl class="col-md-4">
                                    <dt><a href="">关注中</a></dt>
                                    <dd><a href="">112</a></dd>
                                </dl>
                                <dl class="col-md-4">
                                    <dt><a href="">关注者</a></dt>
                                    <dd><a href="">531</a></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="camera">
                            <button type="button" class="btn btn-primary btn-lg" data-container="body"
                                    data-toggle="popover">
                                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div class="content_left_bottom ">
                        <div class="col-md-12">
                            <b>趋势</b>
                            <span> - </span>
                            <a href="">更改</a>
                        </div>
                        <div>
                            <ul class="col-md-12">
                                <li><a href="">今天好冷啊</a></li>
                                <li><a href="">今天好冷啊</a></li>
                                <li><a href="">今天好冷啊</a></li>
                                <li><a href="">今天好冷啊</a></li>
                                <li><a href="">今天好冷啊</a></li>
                                <li><a href="">今天好冷啊</a></li>
                                <li><a href="">今天好冷啊</a></li>
                                <li><a href="">今天好冷啊</a></li>
                                <li><a href="">今天好冷啊</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="content_mid col-md-6 well">
                    <div class="edit_blog col-md-12 well">
                        <div class="col-md-1">
                            <img class="edit_blog_pic" src="__PUBLIC__/images/edit_pic.png" alt=""/>
                        </div>
                        <div class="">
                            <div class="new_blog well" id="new_blog">有什么新鲜事?</div>
                            <div class="edit_new_blog">
                                <textarea class="form-control main_content" rows="6" id="new_content"></textarea>

                                <div class="operate_edit_new_blog">

                                    <button type="button" class="btn btn-default" id="camera"><span
                                            class="glyphicon glyphicon-camera"></span> 添加照片
                                    </button>
                                    <button type="button" class="btn btn-default" id="no_position"><span
                                            class="glyphicon glyphicon-map-marker"></span> 禁用位置
                                    </button>
                                    <button type="button" class="btn btn-primary btn-lg operate_edit_new_blog_btn"
                                            id="">
                                        <span class="glyphicon glyphicon-tree-deciduous" id="send_wei"></span> 发威
                                    </button>
                                    <span>140</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main">
                        <volist name="article" id="v">
                            <div class="blog_content col-md-12">
                                <div class="col-md-2 blog_content_left">
                                    <img src="__PUBLIC__/images/user_pic.jpeg" alt=""/>
                                </div>
                                <div class="col-md-10 blog_content_right">
                                    <div class="blog_content_header">
                                        <a href=""><strong>{$user_info.nickname}</strong></a>
                                        <a href=""><span>@TTTTTT -</span></a>
                                        <span> {$v.time|date="Y-m-d H:i:s",###}</span>
                                    </div>
                                    <div class="">
                                        <span>{$v.content}</span>
                                    </div>
                                    <div class="blog_med">
                                        <img src="__PUBLIC__/images/blog_pic.png" alt=""/>
                                    </div>
                                    <div class="blog_operate " data-id="{$v.id}">
                                        <a href="javascript: void 0" class="col-md-2">
                                            <span class="glyphicon glyphicon-share-alt"></span>
                                        </a>
                                        <a href="javascript: void 0" class="col-md-2">
                                            <span class="glyphicon glyphicon-random"></span>
                                            <span>112</span>
                                        </a>
                                        <a href="javascript:void 0" class="col-md-2 do_good">
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                            <span>{$v.good}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </volist>
                    </div>
                </div>
                <div class="content_right col-md-3 ">
                    <div class="content_right_top col-md-12 well">
                        <div class="">
                            <span><strong>推荐关注</strong> - </span>
                            <a href=""><span> 刷新 -</span></a>
                            <a href=""><span> 查看全部</span></a>
                        </div>
                        <div class="attention_box">
                            <div class="">
                                <div class="col-md-3">
                                    <a href="">
                                        <img src="__PUBLIC__/images/content_right_pic.jpeg" alt=""/>
                                    </a>
                                </div>
                                <div class="col-md-9">
                                    <div class="recommend_operate">
                                        <a href="" class="">
                                            <a href=""><strong>DDDDDDD</strong></a>
                                            <a href="">@aaaaaaa</a>
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </div>
                                    <span>被 <a href="">张学友等人</a> 关注</span>

                                    <div class="blog_attention">
                                        <button type="button" class="btn btn-danger ">
                                            <span class="glyphicon glyphicon-eye-open"></span> 关注
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="">
                                <div class="col-md-3">
                                    <a href="">
                                        <img src="__PUBLIC__/images/content_right_pic.jpeg" alt=""/>
                                    </a>
                                </div>
                                <div class="col-md-9">
                                    <div class="recommend_operate">
                                        <a href="" class="">
                                            <a href=""><strong>DDDDDDD</strong></a>
                                            <a href="">@aaaaaaa</a>
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </div>
                                    <span>被 <a href="">张学友等人</a> 关注</span>

                                    <div class="blog_attention">
                                        <button type="button" class="btn btn-danger ">
                                            <span class="glyphicon glyphicon-eye-open"></span> 关注
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="">
                                <div class="col-md-3">
                                    <a href="">
                                        <img src="__PUBLIC__/images/content_right_pic.jpeg" alt=""/>
                                    </a>
                                </div>
                                <div class="col-md-9">
                                    <div class="recommend_operate">
                                        <a href="" class="">
                                            <a href=""><strong>DDDDDDD</strong></a>
                                            <a href="">@aaaaaaa</a>
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </div>
                                    <span>被 <a href="">张学友等人</a> 关注</span>

                                    <div class="blog_attention">
                                        <button type="button" class="btn btn-danger ">
                                            <span class="glyphicon glyphicon-eye-open"></span> 关注
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <a href=""><span>热门账号</span></a>
                                <span> - </span>
                                <a href=""><span>查找好友</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="content_right_copyright col-md-12 well">
                        <ul class="col-md-12">
                            <li><a href="">©2015Twitter</a></li>
                            <li><a href="">关于</a></li>
                            <li><a href="">帮助</a></li>
                            <li><a href="">条款</a></li>
                            <li><a href="">隐私</a></li>
                            <li><a href="">Cookies</a></li>
                            <li><a href="">广告信息</a></li>
                            <li><a href="">商标</a></li>
                            <li><a href="">博客</a></li>
                            <li><a href="">状态</a></li>
                            <li><a href="">应用</a></li>
                            <li><a href="">工作机会</a></li>
                            <li><a href="">广告</a></li>
                            <li><a href="">企业</a></li>
                            <li><a href="">媒体</a></li>
                            <li><a href="">开发者</a></li>
                        </ul>
                    </div>
                </div>

</block>