<extend name="./Public/layout.html"/>

<block name="content">
    <div class="col-md-12">
        <h3 class="entry "><strong>用户组管理</strong></h3>

        <div class="article_box">
            <div class="article_list">
                <div class="article_edit">
                    <button type="button" class="btn btn-info">添加用户组</button>
                </div>
                <div class="list">
                    <table class="table table-bordered nav_set">
                        <thead>
                        <tr>
                            <th class="line_l">应用名</th>
                            <th class="line_l">用户组名称</th>
                            <th class="line_l">用户组图标</th>
                            <th class="line_l">是否为认证组</th>
                            <th class="line_l">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="line_l">public</td>
                            <td class="line_l">管理员</td>
                            <td class="line_l">http</td>
                            <td class="line_l">否</td>

                            <td class="line_l">
                                <a href=""><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                                <a href=""><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                <a href=""><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</block>